.form {
}

.form label {
  display: block;
  margin-bottom: 4px;
  color: #999;
}

.form input {
  display: block;
  width: 100%;
  max-width: 320px;
  border: 1px solid #ead6ff;
  border-radius: 4px;
  background: #fff;
  padding: 12px;
}

.submit-button {
  cursor: pointer;
  position: relative;
  font-size: 16px;
  font-weight: 900;
  color: #250249;
  text-transform: uppercase;
  padding: 16px 36px;
  margin-top: 24px;
  border-radius: 8px;
  border: none;
  overflow: hidden;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.25);
}

.submit-button:before {
  content: '';
  display: block;
  height: 400%;
  width: 400%;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(125deg, #fff, #fff 50%, rebeccapurple 50%);
  z-index: 0;
  transition: all 0.4s ease-in-out;
}

.submit-button span {
  position: relative;
  z-index: 10;
}

.submit-button:hover:before {
  transform: translate(-50%, -50%) rotate(-75deg);
}
.form .form-group {
  margin-bottom: 12px;
}
