.search-input {
  display: block;
  width: 100%;
  font-size: 24px;
  padding: 16px 24px;
  border: 1px solid #ead6ff;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 32px;
  -webkit-box-shadow: 0 10px 45px -15px rgba(102, 51, 153, 0.25);
  box-shadow: 0 10px 45px -15px rgba(102, 51, 153, 0.25);
}
